
@{
    ViewBag.Title = "CarGiveOffer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CarGiveOffer</h2>
<div class="container">

    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <table class="table table-striped" style="border:1px solid black;">
            <tr>
                <td></td>
            </tr>
        </table>

    </div>



</div>
