
@{
    ViewBag.Title = "Hakkımızda";
}


<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>HAKKIMIZDA</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== About Page Content Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Biz Kimiz?</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="~/Content/assets/img/home-2-about.png" alt="JSOFT">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>BÜTÜN MARKALAR</h3>
                        <p>Birçok Galeri, Marka ve Araba Markaları Sponsor Olduğundan Birçok Markayı Bulabilirsiniz.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-shopping-cart"></i>
                        <h3>HIZLI ALIM-SATIM</h3>
                        <p>Sistemimiz Online Olarak Çalışmak Ve İşlerinizi Hızlı Şekilde Yapmak İçin Tasarlanılmıştır.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-shield"></i>
                        <h3>GÜVENİLİRLİK</h3>
                        <p>Bilgileriniz ISO 27001 Güvencesiyle korunmaktadır.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Page Content End ==-->
<!--== Our Facility Content Start ==-->
<section id="our-facility" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>LIMO PARTY RENT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>BUSINESS LIMO RENT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>HOTEL/CASINO/HOTEL</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>AIRPORT TRANSPORT</h3>
                    <ul>
                        <li>Parallax Everywhere</li>
                        <li>Interactive and Fun</li>
                        <li>Responsive and Refined</li>
                        <li>Color it All</li>
                        <li>Customize and Create</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
        </div>
    </div>
</section>
<!--== Our Facility Content End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Testimonials Area Start ==-->
<section id="testimonial-area" class="section-padding"></section>
<!--== Testimonials Area End ==-->
