 
@{
    ViewBag.Title = "Anasayfa";
}


<!--== SlideshowBg Area Start ==-->
<section id="slideslow-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <h1>BUGÜN ARABANIZI BULUN</h1>
                            <p>EKSTRA KULLANDIĞINIZ GÜNLERDE %15'E VARAN İNDİRİM <br />  </p>

                            <div class="book-ur-car">
                                <form action="index2.html">
                                    <div class="pick-location bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Lokasyon Seçin</option>
                                            <option value="1">İstanbul</option>
                                            <option value="2">İzmir</option>
                                            <option value="3">Ankara</option>
                                            <option value="3">Eskişehir</option>
                                            <option value="4">Bursa</option>
                                        </select>
                                    </div>
                                    @*Datetime Formatında Değişikliğe gideceğiz Günler İngilizce olarak geliyor*@
                                    <div class="pick-date bookinput-item">
                                        <input id="startDate2" placeholder="Başlangıç Tarihi Seçin" />
                                    </div>

                                    <div class="retern-date bookinput-item">
                                        <input id="endDate2" placeholder="Bitiş Tarihi Seçin" />
                                    </div>

                                    <div class="car-choose bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Marka Seçin</option>
                                            @foreach (var item in ViewBag.Markalar)
                                            {
                                                <option value="1">@item</option>
                                            }

                                        </select>
                                    </div>

                                    <div class="bookcar-btn bookinput-item">
                                        <button type="submit">Araştır</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== SlideshowBg Area End ==-->
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Hakkımızda</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="~/Content/assets/img/home-2-about.png" alt="JSOFT">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>BÜTÜN MARKALAR</h3>
                        <p>Birçok Galeri, Marka ve Araba Markaları Sponsor Olduğundan Birçok Markayı Bulabilirsiniz.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-shopping-cart"></i>
                        <h3>HIZLI ALIM-SATIM</h3>
                        <p>Sistemimiz Online Olarak Çalışmak Ve İşlerinizi Hızlı Şekilde Yapmak İçin Tasarlanılmıştır.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-shield"></i>
                        <h3>GÜVENİLİRLİK</h3>
                        <p>Bilgileriniz ISO 27001 Güvencesiyle korunmaktadır.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Us Area End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Servislerimiz</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Service Content Start -->
        <div class="row">
            <div class="col-lg-11 m-auto text-center">
                <div class="service-container-wrap">
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-taxi"></i>
                        <h3>ARAÇ KİRALAMA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-cog"></i>
                        <h3>ARABA TAMİRİ</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-map-marker"></i>
                        <h3>TAXİ SERVİSİ</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-life-ring"></i>
                        <h3>HAYAT SİGORTASI</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-bath"></i>
                        <h3>ARABA YIKAMA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-phone"></i>
                        <h3>ÇEKİCİ ÇAĞIRMA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->
<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">550</span>+</p>
                                    <h4>MUTLU KULLANICILAR</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">250</span>+</p>
                                    <h4>STOKTA ARABA</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">50</span>+</p>
                                    <h4>Şehirde OFİS</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Fun Fact Area End ==-->
<!--== Choose Car Area Start ==-->
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Mevcut Olan Arabalar</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-ur-cars">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Choose Filtering Menu Start -->
                            <div class="home2-car-filter">
                                <a href="#" data-filter="*" class="active">all</a>
                                <a href="#" data-filter=".con">Kiralık</a>
                                <a href="#" data-filter=".hat">Açık Arttırmada</a>
                            </div>
                            <!-- Choose Filtering Menu End -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Choose Cars Content-wrap -->
                            <div class="row popular-car-gird">

                                <!-- Single Popular Car Start -->
                                <div class="col-lg-6 col-md-6 con">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="~/Content/assets/img/car/car-1.jpg">
                                                <img src="~/Content/assets/img/car/car-1.jpg" alt="JSOFT">
                                            </a>
                                        </div>

                                        <div class="p-car-content">
                                            <h3>
                                                <a href="#">Dodge Ram 1500</a>
                                                <span class="price"><i class="fa fa-tag"></i> $55/Gün</span>
                                            </h3>

                                            <h5>HATCHBACK</h5>

                                            <div class="p-car-feature">
                                                <a href="#">2017</a>
                                                <a href="#">manual</a>
                                                <a href="#">AIR CONDITION</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                                <!-- Single Popular Car Start -->
                                <div class="col-lg-6 col-md-6 hat">
                                    <div class="single-popular-car">
                                        <div class="p-car-thumbnails">
                                            <a class="car-hover" href="~/Content/assets/img/car/car-2.jpg">
                                                <img src="~/Content/assets/img/car/car-2.jpg" alt="JSOFT">
                                            </a>
                                        </div>

                                        <div class="p-car-content">
                                            <h3>
                                                <a href="#">Dodge Ram 1500</a>
                                                <span class="price"><i class="fa fa-tag"></i> $55/day</span>
                                            </h3>

                                            <h5>HATCHBACK</h5>

                                            <div class="p-car-feature">
                                                <a href="#">2017</a>
                                                <a href="#">manual</a>
                                                <a href="#">AIR CONDITION</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Popular Car End -->
                                
                            </div>
                            <!-- Choose Cars Content-wrap -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>
<!--== Choose Car Area End ==-->
<!--== Pricing Area Start ==-->
<section id="pricing-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Kullanıcı Üyelikleri</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Pricing Table Conatent Start -->
        <div class="row">
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>İŞLETME HESAP</h3>
                    <h2>₺ 29.99</h2>
                    <h5>BİR AYLIK</h5>

                    <ul class="package-list">
                        <li>BEDAVA ARAÇ ULAŞTIRMA</li>
                        <li>HIZLI-ALIM SATIM</li>
                        <li>FULL SİGORTA</li>
                        <li>TAŞIMA İŞLEMLERİ</li>
                        <li>BÜTÜN ÖZELLİKLERİ YÖNETEBİLME</li>
                        <li>BELİRLENEN FİYAT</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>DENEME HESAP</h3>
                    <h2>ÜCRETSİZ</h2>
                    <h5>BİR AYLIK</h5>

                    <ul class="package-list">
                        <li>BEDAVA ARAÇ ULAŞTIRMA</li>
                        <li>HIZLI-ALIM SATIM</li>
                        <li>FULL SİGORTA</li>
                        <li>TAŞIMA İŞLEMLERİ</li>
                        <li>BÜTÜN ÖZELLİKLERİ YÖNETEBİLME</li>
                        <li>BELİRLENEN FİYAT</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>STANDART HESAP</h3>
                    <h2>₺ 19.99</h2>
                    <h5>BİR AYLIK</h5>

                    <ul class="package-list">
                        <li>BEDAVA ARAÇ ULAŞTIRMA</li>
                        <li>HIZLI-ALIM SATIM</li>
                        <li>FULL SİGORTA</li>
                        <li>TAŞIMA İŞLEMLERİ</li>
                        <li>BÜTÜN ÖZELLİKLERİ YÖNETEBİLME</li>
                        <li>BELİRLENEN FİYAT</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
        </div>
        <!-- Pricing Table Conatent End -->
    </div>
</section>
<!--== Pricing Area End ==-->
<!--== Team Area Start ==-->
@*
<section id="team-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Creative Persons</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="team-content">
                    <div class="row">
                        <!-- Team Tab Menu start -->
                        <div class="col-lg-4">
                            <div class="team-tab-menu">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-1.png" alt="JSOFT">
                                            </div>
                                            <h5>Raju Ahammad</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-3.png" alt="JSOFT">
                                            </div>
                                            <h5>Vongchong Smith</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-2.png" alt="JSOFT">
                                            </div>
                                            <h5>Alex Tuntuni</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-4.png" alt="JSOFT">
                                            </div>
                                            <h5>Any Anderssen</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Tab Menu End -->
                        <!-- Team Tab Content start -->
                        <div class="col-lg-8">
                            <div class="tab-content" id="myTabContent">
                                <!-- Single Team  start -->
                                <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Raju Ahammad</h4>
                                                <h5>Developer</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-3.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Vongchong Smith</h4>
                                                <h5>Designer</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-2.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Alex Tuntuni</h4>
                                                <h5>Marketer</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Any Anderssen</h4>
                                                <h5>Manager</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin fermentum dolor. Nunc nec augue urna. Cras varius orci vitae lacinia efficitur.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                            </div>
                        </div>
                        <!-- Team Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@
<!--== Team Area End ==-->
<!--== Mobile App Area Start ==-->
<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>Mobil Uygulamadan %30 İndirim</h2>
                    <p>Kolay &amp; Hızlı - 60 Saniyede Araç Kiralama</p>
                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Mağaza</a>
                        <a href="#"><i class="fa fa-apple"></i> Apple Mağaza</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Mobile App Area End ==-->
<!--== Articles Area Start ==-->
<section id="tips-article-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Makaleler</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Articles Content Wrap Start -->
        <div class="row">
            <!-- Single Articles Start -->
            @Html.Partial("BlogPartial",ViewData["Blog"]);
            @*<div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/Content/assets/img/article/arti-thumb-1.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Wliquam sit amet urna eullam</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Admin</span></a>
                                            <a href="#" class="commnet">Comments :: <span>10</span></a>
                                        </div>

                                        <div class="article-date">25 <span class="month">jan</span></div>

                                        <p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>
            <!-- Single Articles End -->
            <!-- Single Articles Start -->
            <div class="col-lg-12">
                <article class="single-article middle">
                    <div class="row">

                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5 d-xl-none">
                            <div class="article-thumb">
                                <img src="~/Content/assets/img/article/arti-thumb-2.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">fringilla oremedad ipsum dolor sit</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Admin</span></a>
                                            <a href="#" class="commnet">Comments :: <span>10</span></a>
                                        </div>

                                        <div class="article-date">14<span class="month">feb</span></div>

                                        <p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5 d-none d-xl-block">
                            <div class="article-thumb">
                                <img src="~/Content/assets/img/article/arti-thumb-2.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                    </div>
                </article>
            </div>
            <!-- Single Articles End -->
            <!-- Single Articles Start -->
            <div class="col-lg-12">
                <article class="single-article">
                    <div class="row">
                        <!-- Articles Thumbnail Start -->
                        <div class="col-lg-5">
                            <div class="article-thumb">
                                <img src="~/Content/assets/img/article/arti-thumb-3.jpg" alt="JSOFT">
                            </div>
                        </div>
                        <!-- Articles Thumbnail End -->
                        <!-- Articles Content Start -->
                        <div class="col-lg-7">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="article-body">
                                        <h3><a href="article-details.html">Tempored incididunt ut labore</a></h3>
                                        <div class="article-meta">
                                            <a href="#" class="author">By :: <span>Admin</span></a>
                                            <a href="#" class="commnet">Comments :: <span>10</span></a>
                                        </div>

                                        <div class="article-date">17 <span class="month">feb</span></div>

                                        <p>Wlam aiber vestibulum fringilla oremedad ipsum dolor sit amet consectetur adipisicing elit sed doned eiusmod tempored incididunt ut labore et dolore magna aliquaa enimd ad minim veniad.</p>

                                        <a href="article-details.html" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Articles Content End -->
                    </div>
                </article>
            </div>
            <!-- Single Articles End -->*@
        </div>
        <!-- Articles Content Wrap End -->
    </div>
</section>
<!--== Articles Area End ==-->
