
@{
    ViewBag.Title = "Servis";
}


<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Servislerimiz</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Service Page Content Start ==-->
<section id="service-page-wrapper" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-1"></div>
                    <div class="service-item-content">
                        <h3>Araç Kiralama</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                </div>
                <!-- Single Services End -->
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-2 d-lg-none d-md-block"></div>
                    <div class="service-item-content">
                        <h3>Hayat Sigortası</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                    <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                </div>
                <!-- Single Services End -->
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-3"></div>
                    <div class="service-item-content">
                        <h3>Taksi Servisi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                </div>
                <!-- Single Services End -->
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-4 d-lg-none d-md-block"></div>
                    <div class="service-item-content">
                        <h3>Çekici Çağırma</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                    <div class="service-item-thumb ser-thumb-bg-4 d-none d-lg-block d-md-none"></div>
                </div>
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-5"></div>
                    <div class="service-item-content">
                        <h3>Araç Yıkama</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                </div>
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-6 d-lg-none d-md-block"></div>
                    <div class="service-item-content">
                        <h3>Araç Tamiri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingedsedsis elited. Necessitatibus aliquid, architecto ullam esdefugiat quasi! Doloribus eaque quam soluta quae porro reprehenderit edsconsequuntur hic ducimus consequatur, dicta officia excepturi quos, quis voluptatum optio deserunt sit. Totam ab dolorum at, labore quisquamn earum, magni reiciendis officiis dolores nemo nostrum perspiciatis!</p>
                    </div>
                    <div class="service-item-thumb ser-thumb-bg-6 d-none d-lg-block d-md-none"></div>
                </div>
                <!-- Single Services End -->
            </div>
        </div>
    </div>
</section>
<!--== Service Page Content End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Testimonials Area Start ==-->
<section id="testimonial-area" class="section-padding"></section>
<!--== Testimonials Area End ==-->
