<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Cardoor</title>

    <!--=== Bootstrap CSS ===-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href="~/Content/assets/css/plugins/vegas.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="~/Content/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="~/Content/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="~/Content/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="~/Content/assets/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="~/Content/assets/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/Content/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->
    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Türkiye/İstanbul
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +90 531 864 9669
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Hafta İçi 09.00 - 17.00
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->
        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-3">
                        <a href="index2.html" class="logo">
                            <img src="~/Content/assets/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->
                    <!--== Main Menu Start ==-->
                    <div class="col-lg-9 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li><a href="/Anasayfa">Anasayfa</a></li>
                                <li><a href="/Hakkimizda">Hakkımızda</a></li>
                                <li><a href="/Servis">Servisler</a></li>
                                <li><a href="/ilanlar">Ilanlar</a></li>
                                <li><a href="/Blog">Blog</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                                <li>
                                    <a class=" dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-circle"></i>
                                    </a>
                                    <ul>
                                        <li><a href="/GirisYap">Giriş Yap</a></li>
                                        <li><a href="/KayitOl">Kayıt Ol</a></li>
                                        <li><a href="/SifremiUnuttum">Şifremi Unuttum</a></li>
                                        @if (HttpContext.Current.Session["LoginUser"] != null)
                                        {
                                         <li><a  href="/Profil">Profilim</a></li>
                                         <li><a  href="/Dashboard">Yönetim Paneli</a></li>
                                        }

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->
    @RenderBody()

    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Hakkımızda</h2>
                            <div class="widget-body">
                                <img src="~/Content/assets/img/logo.png" alt="JSOFT">
                                <p>Lorem ipsum dolored is a sit ameted consectetur adipisicing elit. Nobis magni assumenda distinctio debitis, eum fuga fugiat error reiciendis.</p>

                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Haberlerimiz İçin Abone Olun">
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Geçmiş Makaleler</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="/Blog">
                                            Merhaba Dünya
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog">
                                            Yeni Çıkan Haberler
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog">
                                            C# 8.0 Çıktı
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog">
                                            MVC 1979 Yılında Tygve Reeskaug Tarafından Çıkarılmıştır
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Bize Ulaşın</h2>
                            <div class="widget-body">
                                @*<p>Lorem ipsum doloer sited amet, consectetur adipisicing elit. nibh auguea, scelerisque sed</p>*@

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> Türkiye/İstanbul</li>
                                    <li><i class="fa fa-mobile"></i> +90 531 864 9669</li>
                                    <li><i class="fa fa-envelope"></i> info@wedosoft.com</li>
                                </ul>
                                <a href="https://goo.gl/maps/pPHJrBphtMHGsBeB9" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Bütün Hakları Rezervelidir | <a href="https://unlightening.com" target="_blank">WeDoSoft</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->
    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/Content/assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->
    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="~/Content/assets/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/Content/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="~/Content/assets/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="~/Content/assets/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/Content/assets/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="~/Content/assets/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="~/Content/assets/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="~/Content/assets/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="~/Content/assets/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="~/Content/assets/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="~/Content/assets/js/plugins/slicknav.min.js"></script>
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <!------ Include the above in your HEAD tag ---------->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">*@
    <!--=== Mian Js ===-->
    <script src="~/Content/assets/js/main.js"></script>

    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        var title = document.title;
        var alttitle = "Biz Burdayız :) - Cardoor";
        window.onblur = function () { document.title = alttitle; };
        window.onfocus = function () { document.title = title; };
    </script>

    @*<script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '{816888758731946}',
                    cookie: true,
                    xfbml: true,
                    version: '{v5.0}'
                });

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        </script>*@

</body>
</html>